<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
        <style>
            body{
background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            }
            div#level{
            width:100%;
            margin-top:60px;
            text-align: center;
            color: white;
            font-family: 'Jua', sans-serif;
            }
            div#poto1{
            width: 28em;
            height: 30em;
            float: left;
            background-image: url(<%=asset_path('1.jpg')%>);
            margin-left:8%;
            margin-right:3%;
            margin-top:10px;
            background-size:100% 100%;
            padding: 0px;
            margin-bottom:10%;
            }
            div#poto1:hover{
            opacity:0.4;}
            
            div#poto2{
            padding: 0px;
            width: 28em;
            height: 30em;
            float: right;
            background-image:url('2.jpg');
            margin-left:3%;
            margin-right:8%;
            margin-top:10px;
            background-size:100% 100%;
            margin-bottom:10%;
            }
            div#poto2:hover{
            opacity:0.4;
            }
            div#wrapper{
            width:100%;
            height: 30em;
            }

        </style>
    </head>
    <body>
        <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/" class="w3-bar-item w3-button">오늘 뭐먹지?</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a href="#projects" class="w3-bar-item w3-button">오늘의 추천메뉴</a>
          <a class="w3-bar-item w3-button dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">조건</a>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/foods/stuation">상황별</a>
            <a class="dropdown-item" href="#">날씨별</a>
          </div>
          <a href="/foods/game" class="w3-bar-item w3-button">게임</a>
        </div>
      </div>
    </div>
        <div class="container">
        <div class="row">
					<br></br>
			<div id="level" style="font-size:60px;">메뉴 토너먼트</div>
			<div id="wrapper">
			<div id="poto1" onclick="clickDiv(0);"></div>
			<div id="poto2" onclick="clickDiv(1);"></div>
			</div>
			<div id="result" style="display:none;">
			<img src="이김1.gif" height="50%" style="margin-top:50%;"/>			
			</div>
			
          <div class="col-lg-6">

          </div>
        </div>
</div>


<script>
  var ar = new Array();
        var temp;
        var rnum;
 
        for(var i=1; i<=90; i++){
            ar.push(i);
        }
 
        for(var i=0; i< ar.length ; i++)
        {
            rnum = Math.floor(Math.random() *90);
            temp = ar[i];
            ar[i] = ar[rnum];
            ar[rnum] = temp;
        }
 var a32=new Array();
 for(var i=0;i<32;i++){
a32.push(i);
     a32[i]='https://retry-donggeol.c9users.io/assets/'+ar[i+1]+'.jpg';
     
 }

   
   var a16 = [16], a8 = [8], a4 = [4], a2 = [2];
    var gang = 32, k = 0, ch = -1;
    var rannum = []; // 사진 random 배열   


      function randomArray(n){
       
         // random값 추출 함수
         function ranGenerator(max){
            return Math.floor((Math.random() * max));
         }
         
         //  강수 만큼 생성
         for(var i = 0; i < n.valueOf(); i++){
            rannum[i] = ranGenerator(n);
            
            // 사진 중복체크 
            for(var j = 0; j < i; j++ ){
               // 이전값과 비교하여 중복일경우 random 값 다시 생성
               if(rannum[i] == rannum[j]){
                  i = i - 1;
                  break;
               }
            }
		 }
		}
		
		var arr1 = a32;
		var arr2 = a16;
		
      
       function clickDiv(ch){
       if (gang == 1) {
         return ;
       }
       if (gang == 2) {
         if (ch == 0) endgame(arr1[rannum[k]]);
         else if (ch == 1) endgame(arr1[rannum[k+1]]);
         gang = 1;
         return ;
       }

       if(k < gang){
         if (ch == 0) arr2[k/2] = arr1[rannum[k]];
         else if (ch == 1) arr2[k/2] = arr1[rannum[k+1]];
       }
       k = k + 2;

       if(k >= gang) {
          gang = gang / 2;
          k = 0;
          randomArray(gang);
          document.getElementById("level").innerText = gang+"강";

          if(gang==16){
            arr1 = a16;
            arr2 = a8;
         }

          else if(gang==8){
            arr1 = a8;
            arr2 = a4;
         }

          else if(gang==4){
            arr1 = a4;
            arr2 = a2;
         }

         else if(gang==2){
           arr1 = a2;
        }

       }

       document.getElementById("poto1").style = 'background-image:url('+arr1[rannum[k]]+');';
       
       console.log("1번:"+k+"/"+rannum[k]);
       document.getElementById("poto2").style = 'background-image:url('+arr1[rannum[k+1]]+');';
       
       console.log("2번:"+(k+1)+"/"+rannum[k+1]);

      }
	  
  		 
	  function endgame(win){
      document.getElementById("poto2").style.display = 'none';
      document.getElementById("vs").style.display = 'none';
      document.getElementById("level").innerText = "당신의 선택은!!!!";
      document.getElementById("poto1").style = 'background-image:url('+win+'); opacity:1.0; animation: 2s myanim1; animation-iteration-count: 1;';
      document.getElementById("result").style.display = 'inline-block';
    }
		 
   
      randomArray(gang);
	  
	  document.getElementById("poto1").style = 'background-image:url('+arr1[rannum[0]]+');';
	  document.getElementById("poto2").style = 'background-image:url('+arr1[rannum[1]]+');';
	  
      

</script>
        
    </body>
</html>



