<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    body, html {
        height: 100%;
        line-height: 1.8;
    }
    .w3-center{
      width:70%;
      margin:0 auto;
    }
    </style>
    <body>
         <!-- Navbar (sit on top) -->
        <div class="w3-top">
          <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="/" class="w3-bar-item w3-button">오늘 뭐먹지?</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
              <a href="#projects" class="w3-bar-item w3-button">오늘의 추천메뉴</a>
              <a class="w3-bar-item w3-button dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">조건</a>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/foods/stuation">상황별</a>
                <a class="dropdown-item" href="#">날씨별</a>
              </div>
              <a href="/foods/game" class="w3-bar-item w3-button">게임</a>
            </div>
          </div>
        </div>
    
        <!-- About Section -->
        <div class="w3-container" style="padding:128px 16px" id="about">
          <h3 class="w3-center">ABOUT THE COMPANY</h3>
          <p class="w3-center w3-large">Key features of our company</p>
          <div class="w3-row-padding w3-center" style="margin-top:64px">
            <div class="w3-quarter">
              <img src="<%=asset_path('random.png')%>" width="100%">
              <p class="w3-large">랜덤</p>
            </div>
            <div class="w3-quarter">
              <!--<i class="fa fa-challenge w3-margin-bottom w3-jumbo"></i>-->
              <img src="<%=asset_path('ladder.png')%>" width="100%">
              <p class="w3-large">사다리게임</p>
            </div>
            <div class="w3-quarter">
              <img src="<%=asset_path('challenge.png')%>" width="100%">
              <p class="w3-large">음식 월드컵</p>
            </div>
          </div>
        </div>
    
    
    </body>
</html>
