<html>
    <head>
        <style>
            div#poto2{
            padding: 0px;
            width: 28em;
            height: 40em;
            float: right;
            background-image:url('2.jpg');
            margin-right:1%;
            margin-top:5%;
            background-size:100% 100%;
            margin-bottom:10%;
            }
            div#poto2:hover{
            opacity:0.4;
            }
        </style>
    </head>
    <body>
         <div class="row">
					<br></br>
			
			<div id="poto2" onclick="clickDiv(1);"></div>
	
				
        </div>
        <script>
            var num = Math.floor(Math.random() *32);
            num='https://todayeat-donggeol.c9users.io/assets/'+num+'.jpg';
            document.getElementById("poto2").style = 'background-image:url('+num+');';
        </script>
    </body>
</html>